**/__pycache__/
**/build/
**/install/
**/log/
**/out/
**/data/
.idea
.vscode/
**/*.aux
**/*.log
**/*.out
**/*.synctex.gz
**/*.pt
**/.DS_Store
**/__MACOSX
**/venv/
**/maps/
!/maps/
**/csv/
!/csv/
**/config/
!/config/
**/f1tenth_gym_ros/
